body {
    padding: 0;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.navbar {
  font-size: 1.2em;
  position: absolute;
  background-color: #27333f;
  left:0;
  width: 20vw;
  height: 100vh;
}

.navbar > div > ul > li> a {
  color: white
}

.navbar > div > ul > li> a:hover, a:focus{
  background-color: #4b9caf;
  color: black
}

.map {
    position: absolute;
    right: 0px;
    left: 50vw;

    height: 100%;
    top: 0;
}

.sidebar {
    position: absolute;
    left: 20vw;
    width: 30vw;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    padding: 20px;
    padding-bottom: 60px;
}

.item {
    position: relative;
    top: 10vh;
    padding: 10px;
    background-color: #eee;
}

.item:not(:last-child) {
    margin-bottom: 10px;
}

.item-heading {
    font-size: 18px;
    margin-top: 0;
    font-weight: bold;
}

.sort {
    position: relative;
    bottom: 0;
    left: 0;
    width: 340px;
    background-color: #fff;
    padding: 20px;
}

.sort-option {
    margin-left: 10px;
}

.sort-option.selected {
    border-bottom: 1px solid #ccc;
}

.sidebar nav.navbar-default {
    border: 0;
    border-radius: 0;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    margin: -14px -20px 20px;
    padding: 10px 20px 15px;
}

.navbar-brand {
    font-size: 14px;
    font-weight: bold;
}

/* =============
Media Queries
============= */

@media screen and (min-width: 480px) and (max-width: 800px) {
  .sidebar{
    width: 20vw
  }

  .map{
    left: 40vw;
    width: 60vw
  }
    /*.item {
        background-color: blue;
    }*/
}

@media screen and (max-width: 479px) {
  .map{
    left: 0;
    width: 100vw;
  }
    /*.item {
        background-color: red;
    }*/
}
